<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="{{ asset('assets/styles/css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/js/uikit-icons.min.js"></script>



    {% block nav %}
        <nav class="uk-navbar-container uk-margin" uk-navbar>
            <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">
                    <li>
                    </li>
                </ul>

                <div class="uk-navbar-item">
                    <p>Hello {{ app.user.email }}</p>
                    <div> <a href="{{ path('admin_books' ) }}">Liste des books</a></div>
                    <div> <a href="{{ path('admin_authors' ) }}">Liste des authors</a></div>
                    <div> <a href="{{ path('admin_insert_book' ) }}">Creer book</a></div>
                    <div> <a href="{{ path('admin_insert_author' ) }}">Creer author</a></div>
                    <div> <a href="{{ path('admin_home' ) }}">Home</a></div>

                    <div> <a href="{{ path('app_logout') }}" >Déconnexion</a></div>
                </div>


            </div>
        </nav>




    {% endblock %}
    {% block main %}
        <title>Page d'Accueil</title>
        <div class="uk-align-center">
            <h1 class="bienvenue">Bienvenue</h1>
            <h2 class="site"> sur mon petit site</h2>
        </div>
    {% endblock %}
</head>
<body>

</body>

</html>